In [1]:
import pandas as pd
import os

In [2]:
Path = '/Users/milou/Desktop/global-drug-epidemic/data/'
filelist = [files for files in os.listdir(Path) if files.startswith('death-rate')]
f = [Path + f for f in filelist]

df_list = [pd.read_csv(i) for i in f]

#concatenate them together
big_df = pd.concat(df_list,sort=False,ignore_index=False, axis=1).T.drop_duplicates().T

big_df.columns = ['country','code','year','amphetamine_rate','cocaine_rate','opioid_rate','all_rate']

In [8]:
big_df.to_csv('global_df',index=False)

In [9]:
pd.read_csv('global_df')

,country,code,year,amphetamine_rate,cocaine_rate,opioid_rate,all_rate
0,Afghanistan,AFG,1990,0.046590,0.037949,0.610114,1.137523
1,Afghanistan,AFG,1991,0.047434,0.038762,0.622036,1.160556
2,Afghanistan,AFG,1992,0.048088,0.039532,0.634234,1.183699
3,Afghanistan,AFG,1993,0.049568,0.040926,0.656677,1.225011
4,Afghanistan,AFG,1994,0.051632,0.042738,0.684709,1.276909
...,...,...,...,...,...,...,...
6463,Zimbabwe,ZWE,2013,0.003941,0.007617,1.164133,2.445399
6464,Zimbabwe,ZWE,2014,0.003935,0.007558,1.148561,2.417725
6465,Zimbabwe,ZWE,2015,0.003989,0.007616,1.151673,2.434668
6466,Zimbabwe,ZWE,2016,0.004052,0.007691,1.158403,2.448413
6467,Zimbabwe,ZWE,2017,0.004111,0.007747,1.160791,2.453069